<label for="rank">Звання:</label>
<input type="text" id="rank" name="rank" required>

<label for="name">Ім'я:</label>
<input type="text" id="name" name="name" required>

<label for="lastName">Прізвище:</label>
<input type="text" id="lastName" name="lastName" required>

<label for="donateDate">Дата донату:</label>
<input type="date" id="donateDate" name="donateDate" required>
            
<label for="needs">Потреби:</label>
<select name="needs" id="needs">
    <option value="Автомобілі">Автомобілі</option>
    <option value="Пальне">Пальне</option>
    <option value="Тактичний одяг">Тактичний одяг</option>
    <option value="Шоломи">Шоломи</option>
    <option value="Оптика">Оптика</option>
    <option value="Господарська діяльність">Господарська діяльність</option>
    <option value="Рації та зв'язок">Рації та зв'язок</option>
    <option value="Відбудова">Відбудова</option>
</select>

<label for="whoNeeds">Замовник:</label>
<input type="text" id="whoNeeds" name="whoNeeds" required>

<label for="deliveryOfAid">Дата доставки:</label>
<input type="date" id="deliveryOfAid" name="deliveryOfAid" required>

<label for="whetherDelivered">Чи завершений збір:</label>

<div id="whetherDelivered">
    <label for="whetherDeliveredNo">Ні</label>
    <input type="radio" id="whetherDeliveredNo" name="whetherDelivered" value="Ні" />

    <label for="whetherDeliveredNo">Так</label>
    <input type="radio" id="whetherDeliveredYes" name="whetherDelivered" value="Так" />
</div>
